@import '../variable.scss';

:local(.background) {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: $grey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation: fade 4s linear;
	opacity: 0;
}

@keyframes fade {
	0%,
	100% {
		opacity: 0;
	}
	25%,
	75% {
		opacity: 1;
	}
}

:local(.notShow) {
	display: none;
}

:local(.endRoundLabel),
:local(.nextRoundLabel),
:local(.wordLabel) {
	font-size: 32px;
	color: $white;
}

:local(.endRoundLabel) {
	position: absolute;
	animation: fade 1s linear;
	opacity: 0;
}

:local(.newRound) {
	animation: fade 3s linear;
	animation-delay: 1s;
	opacity: 0;
}
