@import '../variable.scss';

:local(.gamePage) {
	display: flex;
	height: 100vh;
}

:local(.background) {
	display: flex;
	background-color: $yellow;
	height: 100vh;
	flex-direction: column;
	align-items: center;
}

:local(.header) {
	display: flex;
	flex-direction: row;
	width: 80%;
	height: 80px;
	justify-content: center;
	margin-top: 4px;
}

:local(.round) {
	font-size: 24px;
	color: $white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: $purple;
	border-radius: 16px;
	width: 20%;
	justify-content: center;
	align-items: center;
	display: flex;
}

:local(.word) {
	font-size: 24px;
	color: $white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: $purple;
	border-radius: 16px;
	width: 40%;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-left: 32px;
	margin-right: 32px;
}

:local(.time) {
	font-size: 24px;
	color: $white;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	background-color: $purple;
	border-radius: 16px;
	width: 20%;
	justify-content: center;
	align-items: center;
	display: flex;
}

:local(.main) {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: center;
	margin-top: 16px;
	margin-bottom: 16px;
}

:local(.chatBox) {
	width: 344px;
	height: 520px;
}

:local(.canvas) {
	display: flex;
	margin-left: 40px;
	margin-right: 40px;
}

:local(.bottom) {
	display: flex;
  flex-direction: column;
	width: 280px;
	height: 100px;
  margin-top: -40px;
}

:local(.modelPredictArea) {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}

:local(.toolbar) {
  display: flex;
  height: 80px;
}
