@import '../variable.scss';

:local(.text) {
	font-size: 32px;
	color: $white;
}

:local(.body) {
	animation: fade 3s linear;
	animation-delay: 1s;
	opacity: 0;
}

@keyframes fade {
	0%,
	100% {
		opacity: 0;
	}
	25%,
	75% {
		opacity: 1;
	}
}

:local(.label) {
	font-size: 32px;
	color: $white;
	position: absolute;
	animation: fade 1s linear;
	opacity: 0;
}
