@import '../variable.scss';

:local(.background) {
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: $grey;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@keyframes fade {
	0%,
	100% {
		opacity: 0;
	}
	25%,
	75% {
		opacity: 1;
	}
}

:local(.notShow) {
	display: none;
}


